* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: 1.15;
	transition: all 0.2s;
}

.upper {
	text-transform: uppercase;
}

.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
}

ul li {
	display: inline-block;
}

a {
	text-decoration: none;
	color: inherit;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

/* Styles for header */

.header {
	background: #f8bc5d url(https://image.prntscr.com/image/eGVhcaZJQPWI269poqoISQ.jpg) center center / contain;
}

.header-title {
	float: left;
	font-family: 'Merriweather', serif;
	font-size: 26px;
	font-weight: 700;
	color: white;
	letter-spacing: 3px;
	line-height: 26px;
	padding: 40px 35px 35px 0;
}

.header-social {
	float: right;
	font-size: 0;
}

.header-social-element {
	margin: 0 11px 2px;
}

.header-social-link {
	display: block;
	width: 32px;
	height: 32px;
}

.header-social-link:hover {
	transform: scale(1.3);
}

.header-social-element:last-child {
	margin-right: 0;
}

.social-icon1 {
	background: url(https://image.prntscr.com/image/kWet9DKYRK2oUK12orGKvw.png) no-repeat left center / cover;
}

.social-icon2 {
	background: url(https://image.prntscr.com/image/kWet9DKYRK2oUK12orGKvw.png) no-repeat -52px center / cover;
}

.social-icon3 {
	background: url(https://image.prntscr.com/image/kWet9DKYRK2oUK12orGKvw.png) no-repeat -103px center / cover;
}

.social-icon4 {
	background: url(https://image.prntscr.com/image/kWet9DKYRK2oUK12orGKvw.png) no-repeat right center / cover;
}

.vertical-stilization-line {
	height: 36px;
	width: 2px;
	margin: 33px 7px 0;
	background: url(https://image.prntscr.com/image/9fmXq8r9QOOgPY1l7AKdxA.png) no-repeat right center / cover;
}

/* Styles for navigation */

.nav {
	background-color: #40312a;
	color: white;
}

.nav-menu {
	float: left;
	margin-left: -3px;
}

.nav-menu-element {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 20px 7px;
}

.nav-menu-element:first-child {
	padding-left: 0;
}

.nav-menu-element:hover {
	color: #2c8897;
}

.search {
	float: right;
}

.search-text {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	padding: 20px 8px;
}

.search-form {
	display: inline-block;
	position: relative;
	width: 190px;
	background: linear-gradient(#257487 5%, #339aa7 95%);
	border-radius: 4px;
}

.form-input, .form-button {
	border: none;
	outline: none;
	background: transparent;
}

.form-input {
	width: 100%;
	height: 25px;
	padding-left: 15px;
}

.form-button {
	height: 26px;
	width: 42px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.form-button:before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #F9F0DA;
}

/* Styles for welcome section */

.main {
	position: relative;
	background: #deccaa url(https://image.prntscr.com/image/Y9jnnrxZS3_RxDjxMMeNlw.jpg) center center;
	padding: 50px 0;
	border-bottom: 4px groove #bba67b;
}

.main .container {
	position: relative;
}

.main-content {
	position: relative;
	z-index: 2;
	background-color: #3f3029;
	border-radius: 6px;
}

.content-title {
	font-family: 'Merriweather', serif;
	font-size: 23px;
	font-weight: 700;
	color: #3da2b4;
	letter-spacing: 1px;
	padding: 30px 40px 0;
}

.content-text {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: white;
	padding: 25px 415px 0 40px;
}

.content-button {
	display: inline-block;
	cursor: pointer;
	background: #fabb5a url(https://image.prntscr.com/image/eGVhcaZJQPWI269poqoISQ.jpg) no-repeat center center;
	border-radius: 4px;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	color: white;
	letter-spacing: 1px;
	padding: 13px 25px;
	margin: 40px 26px 40px 40px;
}

.content-button:hover {
	transform: scale(1.05);
	color: #2c8897;
}

.content-button:last-child {
	margin-left: 0;
	padding: 13px 30px 13px 31px;
}

.main-destination {
	position: relative;
	z-index: 1;
	background: linear-gradient(0deg, #226a7b 0%, #3197a8 100%);
	border-radius: 10px;
	padding: 31px 40px 13px;
	margin-top: -15px;
}

.destination-string {
	font-family: 'Merriweather', serif;
	font-size: 12px;
	font-weight: 400;
	color: white;
	letter-spacing: 1px;
}

.destination-arrow {
	position: absolute;
	bottom: 0;
	left: 213px;
	height: 10px;
	width: 15px;
	background: url(https://image.prntscr.com/image/xZNj2wNbRemQoUSxESeRBg.png) no-repeat center top / cover;
}

.main-image-back {
	position: absolute;
	background: url(https://image.prntscr.com/image/rRDxEQ_6TamUzpPIGkyElw.jpg) no-repeat -386px -409px;
	height: 73%;
	width: 20%;
	top: 52px;
	right: 40px;
	z-index: 5;
	box-shadow: 0 20px 20px -18px black;
}

.main-image-front {
	position: absolute;
	background: url(https://image.prntscr.com/image/OunjPISBSr_YSEs4GaMnWA.jpg) no-repeat -265px -240px;
	height: 83%;
	width: 24%;
	top: 30px;
	right: 122px;
	z-index: 6;
	box-shadow: 0 20px 20px -18px black;
}

.separator-line {
	position: absolute;
	bottom: 2px;
	height: 1px;
	width: 100%;
	background-color: #bba67b;
}

/* Styles for blog section */

.blog {
	position: relative;
	background-color: #f8eedf;
}

.separator-under-line {
	position: absolute;
	bottom: 2px;
	height: 2px;
	width: 100%;
	background-color: #3a2c25;
}

/* Styles for blog-content section */

.blog-content {
	float: left;
	position: relative;
	width: 596px;
	background-color: #f8eedf;
	padding: 47px 50px 54px 0;
}

.blog-title {
	font-family: 'Merriweather', serif;
	font-size: 21px;
	font-weight: 400;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #277a8b;
}

.blog-content-title {
	font-family: 'Lato', sans-serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #40312a;
	padding-top: 15px;
}

.blog-content-date {
	font-family: 'Merrieather', serif;
	font-size: 12px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
	color: #ce953c;
	padding-top: 8px;
}

.blog-content-img {
	width: 548px;
	height: 138px;
	border-radius: 5px;
	margin-top: 13px;
}

.blog-content-text {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: black;
	padding: 11px 25px 12px 0;
}

.blog-content-text-link {
	color: #247184;
	letter-spacing: 1px;
}

.blog-content-text-link:hover {
	color: #00f;
	text-decoration: underline;
}

.blog-content-button {
	float: right;
	cursor: pointer;
	font-family: 'Merrieather', serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 1px;
	word-spacing: 3px;
	color: white;
	background-color: #4d3e37;
	padding: 8px 12px 6px 18px;
	margin: 26px -2px 0 0;
}

.blog-content-button:hover {
	transform: scale(1.05);
	color: #fabb5a;
}

.bci-img1 {
	background: url(https://image.prntscr.com/image/JOWl3XJLQ2_5aIEr1AdLFA.jpg) no-repeat -333px -155px;
}

.bci-img2 {
	background: url(https://image.prntscr.com/image/H7qjrDCgQf639Som2AcwrQ.jpg) no-repeat -100px -263px;
}

/* Styles for blog-side section */

/* Styles for blog-side-descs section */

.blog-side {
	float: right;
	width: 354px;
	padding: 50px 0 0 43px;
	background: url(https://image.prntscr.com/image/7k2IJfNoS-eEsjA-QvRT8A.png) no-repeat left top / cover;
}

.blog-side-descs {
	background: linear-gradient(0deg, #257487 0%, #3095a3 60%);
	border-radius: 5px;
	font-size: 0;
	padding-bottom: 35px;
}

.blog-descs-element {
	display: none;
}

.blog-descs-navelement {
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: 'Merrieather', serif;
	font-size: 15.3px;
	font-weight: 400;
	letter-spacing: 2px;
	color: white;
	padding: 12px 0 10px;
	cursor: pointer;
	background-color: #40312a;
	vertical-align: top;
	z-index: 2;
}

.blog-descs-navelement:nth-of-type(1) {
	border-top-left-radius: 5px;
	width: 35%;
}

.blog-descs-navelement:nth-of-type(2) {
	width: 34%;
	padding-left: 7px;
}

.blog-descs-navelement:nth-of-type(3) {
	border-top-right-radius: 5px;
	width: 31%;
}

.blog-descs-navelement:hover {
	background: #3095a3;
	padding-top: 15px;
}

.blog-descs-content-paragraph {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: white;
	padding: 16px 12px 10px;
}

.blog-descs-content-paragraph:nth-of-type(2) {
	padding-top: 12px;
}

.blog-descs-content {
	position: relative;
	display: none;
}

.blog-descs-content:before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #40312a;
	top: -2px;
	z-index: 1;
}

.blog-descs-element:checked + .blog-descs-navelement {
	background-color: #3095a3;
	padding-top: 15px;
}

.blog-descs-element:checked + .blog-descs-navelement:nth-of-type(1):after {
	content: "";
	position: absolute;
	top: 0;
	right: 1px;
	left: 1px;
	display: inline-block;
	height: 42px;
	border-right: 2px solid #40312a;
}

.blog-descs-element:checked + .blog-descs-navelement:nth-of-type(2):after {
	content: "";
	position: absolute;
	top: 0;
	right: 1px;
	left: 1px;
	display: inline-block;
	height: 42px;
	border-right: 2px solid #40312a;
	border-left: 2px solid #40312a;
}

.blog-descs-element:checked + .blog-descs-navelement:nth-of-type(3):after {
	content: "";
	position: absolute;
	top: 0;
	right: 1px;
	left: 1px;
	display: inline-block;
	height: 42px;
	border-left: 2px solid #40312a;
}

#tab1:checked ~ .blog-descs-content1 {
	display: block;
}

#tab2:checked ~ .blog-descs-content2 {
	display: block;
}

#tab3:checked ~ .blog-descs-content3 {
	display: block;
}

.blog-descs-line-decor {
	width: 100%;
	height: 2px;
	background-color: #1e6776;
	border-bottom: 1px solid #3196af;
}

/* Styles for blog-side-who section */

.blog-who-title {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	word-spacing: 3px;
	color: #277a8b;
	margin-top: 35px;
}

.blog-who-image {
	width: 100%;
	height: 100px;
	border: 5px solid #febf5d;
	background: url(https://image.prntscr.com/image/VoOGz-sWSFSx2JW2aEJbxw.jpg) no-repeat -10px -90px;
	margin-top: 27px;
}

.blog-who-text {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: black;
	padding-top: 15px;
	padding-right: 10px;
}

.blog-who-text-link {
	color: #247184;
}

.blog-who-text-link:hover {
	color: #00f;
	text-decoration: underline;
}

/* Styles for blog-side-sponsors section */

.blog-side-sponsors {
	font-size: 0;
}

.blog-sponsors-title {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #277a8b;
	margin: 46px 0 25px;
}

.blog-sponsors-image {
	display: inline-block;
	width: 140px;
	height: 140px;
	border: 5px solid #febf5d;
	margin-bottom: 30px;
}

.sponsors-stilization-line {
	display: inline-block;
	height: 100px;
	width: 2px;
	margin: 20px 14px 50px;
	background: url(https://image.prntscr.com/image/9fmXq8r9QOOgPY1l7AKdxA.png) no-repeat right center / cover;
}

.first-sponsor {
	background: black url(https://image.prntscr.com/image/7_zd9LfCQlaQZ82eMs8Djw.png) no-repeat center 12px;
}

.second-sponsor {
	background: black url(https://image.prntscr.com/image/aTNZuz8IS4GfOMYe_a-ylg.png) no-repeat center center;
}

/* Styles for big footer */

.big-footer {
	background-color: #40312a;
	font-size: 0;
	padding: 43px 0 50px 0;
}

.big-footer .big-footer-button {
	width: 112px;
	background: #ecb358 url(https://image.prntscr.com/image/eGVhcaZJQPWI269poqoISQ.jpg) no-repeat center center;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
	text-align: center;
	cursor: pointer;
}

.big-footer-button:hover {
	transform: scale(1.05);
	color: #2c8897;
}

/* Styles for big footer quote section */

.big-footer-quote {
	display: inline-block;
	width: 33.33%;
	vertical-align: top;
}

.quote-title {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.2px;
	word-spacing: 1px;
	color: #277a8b;
	padding-bottom: 21px;
}

.quote-form input, .quote-form textarea {
	display: inline-block;
	font-family: 'Merriweather', serif;
	font-size: 11px;
	font-weight: 700;
	color: #5d929c;
	border: none;
	padding: 17px 12px 12px 14px;
	margin-left: -2px;
	background-color: #f8eedf;
	box-shadow: 1px 3px 5px black inset;
}

.quote-form-name {
	width: 113px;
}

.quote-form .quote-form-lastname {
	width: 153px;
	margin-left: 7px;
}

.quote-form-text {
	resize: none;
	width: 273px;
	height: 113px;
	margin: 11px 0;
}

.quote-form-mail {
	width: 273px;
}

.quote-form .big-footer-button {
	border: none;
	box-shadow: none;
	margin: 30px  0 0 158px;
	padding: 8px 0 7px;
}

.quote-form input::-webkit-input-placeholder {
	color:#5d929c;
}
.quote-form input::-moz-placeholder          {
	color:#5d929c;
}
.quote-form input:-moz-placeholder           {
	color:#5d929c;
}
.quote-form input:-ms-input-placeholder      {
	color:#5d929c;
}

/* Styles for big footer projects section */

.big-footer-projects {
	display: inline-block;
	width: 34%;
	vertical-align: top;
	padding-left: 20px;
	padding-left: 27px;
}

.projects-title {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.3px;
	word-spacing: 1px;
	color: #277a8b;
	padding-bottom: 26px;
}

.footer-projects-image {
	display: inline-block;
	width: 125px;
	height: 95px;
	border: 3px solid #febf5d;
	margin: 0 20px 20px 0;
}

.footer-projects-image:nth-child(2) {
	background: url(https://image.prntscr.com/image/2v1FNDefRy6VjKui2Mb__Q.jpg) no-repeat -522px -238px;
}

.footer-projects-image:nth-child(3) {
	background: url(https://image.prntscr.com/image/j3xAiqOIQFmGkrQVaVfnzA.jpg) no-repeat -527px -306px;
}

.footer-projects-image:nth-child(4) {
	background: url(https://image.prntscr.com/image/Igs1ytyFQqKc4Jzmpzsnlg.jpg) no-repeat -546px -227px;
}

.footer-projects-image:nth-child(5) {
	background: url(https://image.prntscr.com/image/gXwxqEjbQPOdhgi5JFV2bw.jpg) no-repeat -127px -53px;
}

.big-footer-projects .big-footer-button {
	margin: 12px  0 0 160px;
	padding: 8px 0 7px;
	letter-spacing: 0px;
}

/* Styles for big footer stream section */

.big-footer-stream {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	padding-left: 40px;
}

.stream-title {
	font-family: 'Merriweather', serif;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1.3px;
	word-spacing: 1px;
	color: #277a8b;
	padding-bottom: 38px;
}

.stream-text {
	font-family: 'Verdana', sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: white;
	padding-bottom: 21px;
}

.stream-text-link {
	color: #2e91a0;
}

.stream-text-link:hover {
	color: #00f;
	text-decoration: underline;
}

.big-footer-stream .big-footer-button {
	margin: 60px 0 0 158px;
	padding: 8px 0 7px;
	letter-spacing: 0px;
}

/* Styles for small footer */

.small-footer {
	background: #2c8697 url(https://image.prntscr.com/image/D3vFGA02S2KuO1au8Gi5mw.jpg) center top / contain;
	font-family: 'Merriweather', serif;
	font-size: 10.6px;
	font-weight: 400;
	letter-spacing: 1px;
	color: white;
	padding: 27px 0;
}

.small-footer-copyright {
	float: left;
}

.small-footer-navmenu {
	float: right;
}

.small-footer-navmenu-link {
	display: inline-block;
}

.small-footer-navmenu-link:hover {
	transform: scale(1.1);
	color: #fabb5a;
}